.projects {
  width: 100vw;
  height: fit-content;
  background-color: var(--gray-lighter);
  padding: 5%;
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  /* width: 100%; */
}

.projects__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 55rem;
  height: 50rem;
}

.projects__card:nth-last-child(even) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  opacity: 0.2;
  /* grid-column: 4 / span 2; */
  /* flex-direction: row-reverse; */
  /* grid-column: 3 / span 1; */
}

.projects__img {
  overflow: hidden;
  grid-column: 1 / span 2;
  border-radius: 2rem;
  margin-right: 2rem;
}

.projects__img:nth-last-child(even) {
  /* grid-column: -4 / span -3; */
  /* grid-column: 3 / span 1; */
  /* opacity: 0.2; */

}

.projects__img img {
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
  /* transform: scale(1.01); */
  object-fit: cover;
  /* display: block; */
  /* object-position: top; */
  /* object-fit:fill; */
  /* object-fit:contain; */
}

.projects__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* background-color: red; */
}

.info__top h3 {
  font-size: 3.4rem;
  width: max-content;
  padding-right: 2rem;
}

.info__top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* background-color: red; */
}

.info__links {
  display: flex;
  align-items: flex-end;
}
.info__links a {
  font-size: 1.4rem;
  font-weight: var(--medium-500);
  color: var(--gray-dark);
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}

.info__links a:hover {
  color: var(--orange);
  transition: color 0.5s ease-in-out;
}

.info__bottom p {
  font-size: 1.8rem;
  font-weight: var(--light-300);
}
