.portfolio {
  background-color: var(--gray-lighter);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.imageContainer {
  flex: 3;
  padding-right: 2rem;
}

.imageContainer img {
  border-radius: 2rem;
  width: 100%;
}

.textContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.textContainer p {
  font-size: 1.8rem;
  font-weight: var(--light-300);
}

.topWrapper {
  display: flex;
  align-items: flex-end;
}

.topWrapper h2 {
  /* font-size: 3.4rem; */
  font-weight: var(--semiBold-600);
}

.topWrapper a {
  font-size: 1.6rem;
  font-weight: var(--light-300);
  color: var(--gray-darker);
  padding-left: 2rem;
  padding-bottom: 0.3rem;
  text-decoration: none;
}

.topWrapper a:hover {
  color: var(--orange);
  transition: color 0.5s ease-in-out;
}

/* MacBook Pro 14"  */
@media only screen and (max-width: 1512px) {
  /* not needed */
}

/* iPad Air 820 x 1180  */
@media only screen and (max-width: 820px) {

}

/* iPad Air 1180 x 820 (landscape)  */
@media only screen and (max-width: 1180px) and (orientation: landscape) {
}

/* iPhone 11 Pro Max / XR 414 x 896  */
@media only screen and (max-width: 414px) {
}

/* iPhone 11 Pro Max / XR 896 x 414 (landscape) */
@media only screen and (min-width: 805px) and (max-width: 896px) and (orientation: landscape) {
}

/* iPhone 13 Pro 390 x 844  */
@media only screen and (max-width: 390px) {
  /* not needed */
}

/* iPhone SE 375 x 667  */
@media only screen and (max-width: 375px) {
  /* not needed */
}

/* iPhone SE 667 x 375 (landscape) */
@media only screen and (min-width: 667px) and (max-width: 667px) and (orientation: landscape) {
}

/* SMARTPHONES - SHORTER SCREENS (PORTRAIT) */
@media only screen and (max-width: 480px) and (orientation: portrait) {
  .portfolio {
    padding-left: var(--padding-s);
    padding-right: var(--padding-s);
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-s);
  }

  .container {
    height: fit-content;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .container:last-child {
    padding-bottom: 0;
  }

  .imageContainer {
    padding-right: 0;
  }

  .imageContainer img {
    border-radius: 1.2rem;
  }

  .topWrapper h2 {
    font-size: 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .textContainer p {
    font-size: 1.6rem;
  }

  .topWrapper a {
    font-size: 1.4rem;
    padding-left: 1rem;
    padding-bottom: 0.6rem;
  }
}

/* SMARTPHONES - SHORTER SCREENS (LANDSCAPE) */
@media only screen and (min-width: 665px) and (orientation: landscape) {
  .portfolio {
    padding-left: var(--padding-s);
    padding-right: var(--padding-s);
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-s);
  }

  .container {
    height: fit-content;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .container:last-child {
    padding-bottom: 0;
  }

  .imageContainer {
    padding-right: 0;
  }
  .imageContainer img {
    border-radius: 1.2rem;
  }

  .topWrapper h2 {
    font-size: 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .textContainer p {
    font-size: 1.6rem;
  }

  .topWrapper a {
    font-size: 1.4rem;
    padding-left: 1rem;
    padding-bottom: 0.6rem;
  }
}

/* SMARTPHONES - TALLER SCREENS (PORTRAIT) */
@media only screen and (min-width: 390px) and (orientation: portrait) {
  
}

/* SMARTPHONES - TALLER SCREENS (LANDSCAPE) */
@media only screen and (min-width: 843px) and (orientation: landscape) {
 
}

/* IPAD MINI (PORTRAIT) */
@media only screen and (min-width: 767px) and (orientation: portrait) {
  .portfolio {
    padding-left: var(--padding-m);
    padding-right: var(--padding-m);
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-m);
  }

  .container {
    height: fit-content;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .container:last-child {
    padding-bottom: 0;
  }

  .imageContainer {
    padding-right: 0;
  }

  .imageContainer img {
    border-radius: 1.2rem;
  }

  .topWrapper h2 {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .textContainer p {
    font-size: 1.8rem;
  }

  .topWrapper a {
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-bottom: 0.6rem;
  }
}

/* IPAD MINI (LANDSCAPE) */
@media only screen and (min-width: 1023px) and (orientation: landscape) {}
