.projects {
  width: 100vw;
  height: fit-content;
  background-color: var(--gray-lighter);
  padding: 10rem;
}

.projects__container {
  display: grid;
  gap: 15rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.img_hover_zoom {
  margin: 1.5rem 0;
  overflow: hidden;
}

.img_hover_zoom img {
  width: 100%;
  transition: transform 1s ease;
  transform: scale(1.01);
  object-fit: contain;
}

.img_hover_zoom:hover img {
  transform: scale(1.05);
}

.projects__name,
.projects__links {
  display: flex;
  justify-content: space-between;
}

.projects__name p,
.projects__links a {
  font-size: 2.2rem;
  color: var(--font-dark);
  transition: color 0.5s ease, stroke 0.5s ease, fill 0.5s ease;
}

.projects__links a {
  text-decoration: none;
}

.projects__links svg {
  stroke: var(--font-dark);
  fill: var(--font-dark);
  transition: color 0.5s ease, stroke 0.5s ease, fill 0.5s ease;
}

.first__link:hover svg,
.first__link:hover a {
  color: var(--green-darker);
  stroke: var(--green-darker);
  fill: var(--green-darker);
  transition: color 0.5s ease, stroke 0.5s ease, fill 0.5s ease;
}

.second__link:hover svg,
.second__link:hover a {
  color: var(--green-darker);
  stroke: var(--green-darker);
  fill: var(--green-darker);
  transition: color 0.5s ease, stroke 0.5s ease, fill 0.5s ease;
}
