.projectsOne {
  width: 100vw;
  height: fit-content;
  background-color: var(--gray-lighter);
  padding: 10rem 10%;
}

.projectsOne__container {
  display: grid;
  gap: 15rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.img_hover_zoom {
  margin: 1.5rem 0;
  overflow: hidden;
}

.img_hover_zoom img {
  width: 100%;
  transition: transform 1s ease;
  transform: scale(1.01);
  object-fit: contain;
}

.img_hover_zoom:hover img {
  transform: scale(1.05);
}

.projectsOne__name,
.projectsOne__links {
  display: flex;
  justify-content: space-between;
}

.projectsOne__name p,
.projectsOne__links a {
  font-size: 1.6rem;
  color: var(--font-dark);
  font-weight: var(--medium-500);
}

.projectsOne__links a {
  text-decoration: none;
}

.projectsOne__links svg {
  stroke: var(--font-dark);
  fill: var(--font-dark);
}
