.hero {
  height: 100dvh;
  width: 100vw;
  background-color: var(--black);
  position: relative;
  z-index: -1;
}

.hero__text {
  min-width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__text h1 {
  width: 100%;
  color: var(--orange);
  font-weight: var(--regular-400);
  z-index: 2;
  text-align: center;
}

.hero__text p {
  width: 100%;
  text-align: center;
  color: var(--gray-lighter);
  font-weight: var(--thin-100);
  z-index: 4;
}

.img__container {
  position: absolute;
  min-width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img__back {
  z-index: 1;
}

.img__front {
  z-index: 3;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 480px) and (orientation: portrait) {
  .hero__text h1 {
    background-color: red;
    font-size: 7.1rem;
    line-height: 5.3rem;
  }

  .hero__text p {
    font-size: 1.6rem;
  }

  .img__back {
    width: 60%;
  }

  .img__front {
    width: 60%;
  }
}

/* SMARTPHONES PORTRAIT - TALLER SCREENS */
@media only screen and (min-width: 390px) and (orientation: portrait) {
  .hero__text h1 {
    font-size: 7.5rem;
    background-color: aquamarine;
    line-height: 6rem;
  }

  .hero__text p {
    font-size: 1.6rem;
  }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 665px) and (orientation: landscape) {
  .hero__text h1 {
    background-color: coral;
    font-size: 12rem;
    line-height: 9rem;
  }

  .hero__text p {
    font-size: 2.3rem;
  }

  .img__back {
    height: 100%;
  }

  .img__front {
    height: 100%;
  }
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 767px) and (orientation: portrait) {
  .hero__text h1 {
    background-color: yellowgreen;
    font-size: 13rem;
    line-height: 11rem;
  }

  .hero__text p {
    font-size: 3rem;
  }

  .img__back {
    width: 65%;
  }

  .img__front {
    width: 65%;
  }
}

/* TABLETS LANDSCAPE */
@media only screen and (min-width: 1023px) and (orientation: landscape) {
  .hero__text h1 {
    background-color: brown;
    font-size: 18rem;
    line-height: 16rem;
  }

  .hero__text p {
    font-size: 3.8rem;
  }
}

/* SMALL SCREENS, LAPTOPS PORTRAIT */
@media only screen and (min-width: 769px) and (orientation: portrait) {
  .hero__text h1 {
    background-color: yellow;
    font-size: 16rem;
    line-height: 12rem;
  }

  .hero__text p {
    font-size: 3.2rem;
  }

  .img__back {
    width: 60%;
  }

  .img__front {
    width: 60%;
  }
}

/* SMALL SCREENS, LAPTOPS LANDSCAPE */
@media only screen and (min-width: 1179px) and (orientation: landscape) {
  .hero__text h1 {
    background-color: blueviolet;
    font-size: 22rem;
    line-height: 19rem;
  }

  .hero__text p {
    font-size: 4rem;
  }
}

/* DESKTOPS, LARGE SCREENS PORTRAIT */
@media only screen and (min-width: 1023px) and (orientation: portrait) {
  .hero__text h1 {
    background-color: cadetblue;
    font-size: 20rem;
    line-height: 16rem;
  }

  .hero__text p {
    font-size: 4rem;
  }

  .img__back {
    width: 60%;
  }

  .img__front {
    width: 60%;
  }
}

/* DESKTOPS, LARGE SCREENS LANDSCAPE */
@media only screen and (min-width: 1365px) and (orientation: landscape) {
  .hero__text h1 {
    background-color: darkolivegreen;
    font-size: 25rem;
    line-height: 19rem;
  }

  .hero__text p {
    font-size: 4.5rem;
  }
}

/* EXTRA LARGE SCREENS, TV PORTRAIT */
@media only screen and (min-width: 1520px) and (orientation: landscape) {
  .hero__text h1 {
    background-color: beige;
    font-size: 33rem;
    line-height: 28rem;
  }

  .hero__text p {
    font-size: 5.2rem;
  }
}
