.vertical {
  position: fixed;
  bottom: 50%;
  right: -8.2rem;
  display: flex;
  gap: 2rem;
  transform: rotate(-90deg);
}

.vertical h3 {
  font-size: 1.8rem;
  font-weight: var(--light-300);
  color: var(--font-dark);
  letter-spacing: 0.3rem;
}
