.skills {
  width: 100vw;
  height: 100dvh;
  background-color: var(--gray-lighter);
  padding: 10rem;
  display: flex;
  align-items: center;
}

.skills__ul {
  width: 100%;
   display: flex;
   justify-content: space-between;
}

.skills__ul ul {
  list-style: none;
}

.skills__ul ul li:first-child {
  font-size: 2.4rem;
  font-weight: var(--semiBold-600);
}

.skills__ul li {
  font-size: 2rem;
  font-weight: var(--light-300);
  padding-top: 1rem;
}

.skills a {
  font-size: 2rem;
  color: var(--green-dark);
  text-decoration: none;
}

.skills__ul svg {
  stroke: var(--green-dark);
  fill: var(--green-dark);
}

.skills__ul .link:hover a,
.skills__ul .link:hover svg {
  color: var(--green-darker);
  stroke: var(--green-darker);
  fill: var(--green-darker);
  transition: color 0.5s ease, stroke 0.5s ease, fill 0.5s ease;
  
}
