.skills {
  width: 100vw;
  height: 100dvh;
  background-color: var(--gray-lighter);
  padding: 5%;
  display: flex;
  align-items: center;
}

.skills__ul {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.skills__ul ul {
  list-style: none;
}

.skills__ul ul li:first-child {
  font-size: 2.4rem;
  font-weight: var(--semiBold-600);
}

.skills__ul li {
  font-size: 2rem;
  font-weight: var(--light-300);
  padding-top: 1rem;
}

.skills a {
  font-size: 2rem;
  color: var(--gray-darker);
  text-decoration: none;
  transition: color 0.5s ease, stroke 0.5s ease, fill 0.5s ease;
}

.skills__ul svg {
  position: relative;
  margin: 0;
  padding: 0;
  stroke: var(--gray-dark);
  fill: var(--gray-dark);
  transition: color 0.5s ease, stroke 0.5s ease, fill 0.5s ease;
}

.skills__ul .link:hover a,
.skills__ul .link:hover svg {
  color: var(--orange);
  stroke: var(--orange);
  fill: var(--orange);
  transition: color 0.5s ease, stroke 0.5s ease, fill 0.5s ease;
}

/* MacBook Pro 14"  */
@media only screen and (max-width: 1512px) {
}

/* iPad Air 820 x 1180  */
@media only screen and (max-width: 820px) {
  /* .skills {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .skills__ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .skills__ul ul li:first-child {
    font-size: 3.2rem;
  }

  .skills__ul li {
    font-size: 2.7rem;
  }

  .skills a {
    font-size: 2.7rem;
  }

  .skills__ul ul:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    padding-bottom: 2rem;
  }
  .skills__ul ul:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    
  }
  .skills__ul ul:nth-child(3) {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
  }
  .skills__ul ul:nth-child(4) {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
  } */
}

/* iPad Air 1180 x 820 (landscape)  */
@media only screen and (max-width: 1180px) and (orientation: landscape) {
  /* .skills__ul ul li:first-child {
    font-size: 3rem;
  }

  .skills__ul li {
    font-size: 2.2rem;
  } */
}

/* iPhone 11 Pro Max / XR 414 x 896  */
@media only screen and (max-width: 414px) {
  /* .skills__ul ul li:first-child {
    font-size: 2.2rem;
  }

  .skills__ul li {
    font-size: 1.7rem;
    padding-top: 0.7rem;
  }

  .skills a {
    font-size: 1.7rem;
  } */
}

/* iPhone 11 Pro Max / XR 896 x 414 (landscape) */
@media only screen and (min-width: 805px) and (max-width: 896px) and (orientation: landscape) {
  /* .skills__ul ul li:first-child {
    font-size: 1.8rem;
  }

  .skills__ul li {
    font-size: 1.4rem;
    padding-top: 0.5rem;
  }

  .skills a {
    font-size: 1.4rem;
  } */
}

/* iPhone 13 Pro 390 x 844  */
@media only screen and (max-width: 390px) {
}

/* iPhone SE 375 x 667  */
@media only screen and (max-width: 375px) {
  /* .skills__ul ul li:first-child {
    font-size: 1.7rem;
  }

  .skills__ul li {
    font-size: 1.4rem;
    padding-top: 0.4rem;
  }

  .skills a {
    font-size: 1.4rem;
  }

  .skills__ul svg {
    height: 1.4rem;
    margin-left: -0.2rem;
  } */
}

/* iPhone SE 667 x 375 (landscape) */
@media only screen and (min-width: 667px) and (max-width: 667px) and (orientation: landscape) {
  /* .skills__ul {
    display: flex;
  }
  .skills__ul ul li:first-child {
    font-size: 1.7rem;
  }

  .skills__ul li {
    font-size: 1.2rem;
    padding-top: 0.5rem;
  }

  .skills a {
    font-size: 1.2rem;
  }

  .skills__ul svg {
    height: 1.2rem;
    margin-left: -0.2rem;
  } */
}

/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 480px) and (orientation: portrait) {
  .skills {
    /* flex-direction: column-reverse; */
    justify-content: center;
    padding-top: 5.5rem;
  }
  .skills__ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(1, 1fr); */
  }
  .skills__ul ul li:first-child {
    background-color: red;
    font-size: 1.7rem;
  }

  .skills__ul li {
    font-size: 1.4rem;
    padding-top: 0.4rem;
  }

  .skills a {
    font-size: 1.4rem;
  }

  .skills__ul svg {
    height: 1.4rem;
    margin-left: -0.2rem;
  }

  .skills__ul ul:first-child {
    padding-bottom: 2rem;
  }
}

/* SMARTPHONES PORTRAIT - TALLER SCREENS */
@media only screen and (min-width: 390px) and (orientation: portrait) {
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 665px) and (orientation: landscape) {
  .skills {
    padding-top: 5.5rem;
  }

  .skills__ul ul li:first-child {
    background-color: red;
    font-size: 1.5rem;
  }

  .skills__ul li {
    font-size: 1.2rem;
    padding-top: 0.4rem;
  }

  .skills a {
    font-size: 1.2rem;
  }

  .skills__ul svg {
    height: 1.4rem;
    margin-left: -0.2rem;
  }

  .skills__ul ul:first-child {
    /* padding-bottom: 2rem; */
  }
}

/* TABLETS PORTRAIT (IPAD MINI) */
@media only screen and (min-width: 767px) and (orientation: portrait) {
  .skills {
    /* padding: 4.8%; */
    padding-top: 5.5rem;
  }
  .skills__ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .skills__ul ul li:first-child {
    background-color: yellowgreen;
    font-size: 2.8rem;
  }

  .skills__ul li {
    font-size: 2.2rem;
    padding-top: 0.7rem;
  }

  .skills a {
    font-size: 2.2rem;
  }

  .skills__ul svg {
    height: 2rem;
    margin-left: 0.2rem;
  }

  .skills__ul ul:first-child {
    padding-bottom: 2rem;
  }
}

/* TABLETS LANDSCAPE (IPAD MINI) */
@media only screen and (min-width: 1023px) and (orientation: landscape) {
  .skills {
    padding: 4%;
    padding-top: 5.5rem;
  }

  .skills__ul ul li:first-child {
    background-color: yellowgreen;
    /* background-color: unset; */
    font-size: 2rem;
  }

  .skills__ul li {
    font-size: 1.7rem;
    padding-top: 0.4rem;
  }

  .skills a {
    font-size: 1.7rem;
  }

  .skills__ul svg {
    height: 1.6rem;
  }
}

/* SMALL SCREENS, LAPTOPS PORTRAIT (IPAD AIR) */
@media only screen and (min-width: 769px) and (orientation: portrait) {
  .skills {
    padding: 4%;
    padding-top: 5.5rem;
  }
  .skills__ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .skills__ul ul li:first-child {
    background-color: blueviolet;
    /* background-color: unset; */
    font-size: 2.8rem;
  }

  .skills__ul li {
    font-size: 2.4rem;
    padding-top: 0.7rem;
  }

  .skills a {
    font-size: 2.4rem;
  }

  .skills__ul svg {
    height: 2.3rem;
    /* margin-left: 0.2rem; */
  }

  .skills__ul ul:first-child {
    /* padding-bottom: 2rem; */
  }
}

/* SMALL SCREENS, LAPTOPS LANDSCAPE (IPAD AIR) */
@media only screen and (min-width: 1179px) and (orientation: landscape) {
  .skills {
    padding: 3.5%;
    padding-top: 5.5rem;
  }

  .skills__ul ul li:first-child {
    background-color: blueviolet;
    /* background-color: unset; */
    font-size: 2.3rem;
  }

  .skills__ul li {
    font-size: 1.9rem;
    /* padding-top: 0.4rem; */
  }

  .skills a {
    font-size: 1.9rem;
  }

  .skills__ul svg {
    height: 1.8rem;
  }
}

/* DESKTOPS, LARGE SCREENS PORTRAIT (IPAD PRO) */
@media only screen and (min-width: 1023px) and (orientation: portrait) {
  .skills {
    padding: 4%;
    padding-top: 5.5rem;
  }
  .skills__ul {
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
  }

  .skills__ul ul li:first-child {
    background-color:cornflowerblue;
    /* background-color: unset; */
    font-size: 3.5rem;
  }

  .skills__ul li {
    font-size: 3.1rem;
    padding-top: 0.9rem;
  }

  .skills a {
    font-size: 3.1rem;
  }

  .skills__ul svg {
    height: 2.9rem;
    margin-left: 0.6rem;
  }

  .skills__ul ul:first-child {
    /* padding-bottom: 2rem; */
  }
}

/* DESKTOPS, LARGE SCREENS LANDSCAPE (IPAD PRO) */
@media only screen and (min-width: 1365px) and (orientation: landscape) {
  .skills {
    padding: 3%;
    padding-top: 5.5rem;
  }

  .skills__ul ul li:first-child {
    background-color:cornflowerblue;
    /* background-color: unset; */
    font-size: 3.1rem;
  }

  .skills__ul li {
    font-size: 2.3rem;
    /* padding-top: 0.4rem; */
  }

  .skills a {
    font-size: 2.3rem;
  }

  .skills__ul svg {
    height: 2.1rem;
    margin-left: 0.4rem;
  }
}

/* EXTRA LARGE SCREENS, TV PORTRAIT */
@media only screen and (min-width: 1520px) and (orientation: landscape) {
}
