.about {
  min-width: 100vw;
  height: 100dvh;
  background-color: var(--black);
  padding: 5%;
  display: flex;
  align-items: center;
}

.about span.word {
  display: inline-block;
  transition: color 0.5s ease-in-out;
}

.about span.word:hover {
  color: var(--orange);
}

.about span.word.hovered {
  color: var(--orange);
}

/* SMARTPHONES PORTRAIT - SHORTER SCREENS */
@media only screen and (max-width: 480px) and (orientation: portrait) {
  .about span.word {
    /* background-color: blue; */
    font-size: 2.3rem;
    margin-right: 0.6rem;
  }
}

/* SMARTPHONES PORTRAIT - TALLER SCREENS */
@media only screen and (min-width: 390px) and (orientation: portrait) {
  .about span.word {
    /* background-color: red; */
    font-size: 2.7rem;
    margin-right: 0.5rem;
  }
}

/* SMARTPHONES LANDSCAPE - SHORTER SCREENS */
@media only screen and (min-width: 665px) and (orientation: landscape) {
  .about span.word {
    /* background-color: aquamarine; */
    font-size: 2.1rem;
    margin-right: 0.5rem;
  }
}

/* SMARTPHONES LANDSCAPE - TALLER SCREENS */
@media only screen and (min-width: 843px) and (orientation: landscape) {
  .about span.word {
    /* background-color: blueviolet; */
    font-size: 2.4rem;
    margin-right: 0.4rem;
  }
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 767px) and (orientation: portrait) {
  .about span.word {
    /* background-color: chartreuse; */
    font-size: 3.8rem;
    margin-right: 1rem;
  }
}

/* TABLETS LANDSCAPE */
@media only screen and (min-width: 1023px) and (orientation: landscape) {
  .about span.word {
    /* background-color: coral; */
    font-size: 3.4rem;
    margin-right: 0.5rem;
  }
}

/* SMALL SCREENS, LAPTOPS PORTRAIT */
@media only screen and (min-width: 769px) and (orientation: portrait) {
  .about span.word {
    /* background-color: aquamarine; */
    font-size: 4rem;
    margin-right: 1rem;
  }
}

/* SMALL SCREENS, LAPTOPS LANDSCAPE */
@media only screen and (min-width: 1179px) and (orientation: landscape) {
  .about span.word {
    /* background-color: chocolate; */
    font-size: 3.5rem;
    margin-right: 1rem;
  }
}

/* DESKTOPS, LARGE SCREENS PORTRAIT */
@media only screen and (min-width: 1023px) and (orientation: portrait) {
  .about span.word {
    /* background-color: darkcyan; */
    font-size: 5rem;
    margin-right: 1.3rem;
  }
}

/* DESKTOPS, LARGE SCREENS LANDSCAPE */
@media only screen and (min-width: 1365px) and (orientation: landscape) {
  .about span.word {
    /* background-color: hotpink; */
    font-size: 4.3rem;
    margin-right: 1.1rem;
  }
}

/* EXTRA LARGE SCREENS, TV PORTRAIT */
@media only screen and (min-width: 1520px) and (orientation: landscape) {
  .about span.word {
    /* background-color: cornflowerblue; */
    font-size: 4.5rem;
    margin-right: 0.7rem;
  }
}
