.about {
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  padding: 5%;
  display: flex;
  align-items: center;
}

.about span.word {
  font-size: 4.5rem;
  display: inline-block;
  transition: color 0.3s ease-in-out;

  margin-right: 1.5rem;
}

.about span.word:hover {
  color: var(--orange); 
  transform: scale(0.99);
}

.about span.word.hovered {
  color: var(--orange);
}
