.contact {
  height: 100dvh;
  background-color: var(--black);
}

.contact__tm {
  color: var(--orange);
  font-family: 'Dr Sugiyama', cursive;
  text-transform: uppercase;
}

.contact__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.text__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.text__container h2 {
  font-weight: var(--semiBold-600);
  color: var(--gray-lighter);
  z-index: 1;
}

.text__container p {
  display: flex;
  justify-content: flex-end;
  color: var(--gray-lighter);
  font-weight: var(--thin-100);
}

.contact__links {
  z-index: 2;
  padding-bottom: 10%;
}

.contact__links a {
  color: var(--gray-darker);
  font-weight: var(--light-300);
  transition: color 1s ease;
  text-decoration: none;
  cursor: pointer;
}

.contact__links a:hover {
  color: var(--orange);
}

.copyright {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
}

.copyright p {
  color: var(--gray-darker);
  font-weight: var(--thin-100);
}

.copyright span {
  color: var(--gray-darker);
}

/* SMARTPHONES - SHORTER SCREENS (PORTRAIT) */
@media only screen and (max-width: 480px) and (orientation: portrait) {
  .contact {
    padding-left: var(--padding-s);
    padding-right: var(--padding-s);
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-s);
  }

  .contact h2 {
    font-size: 5rem;
    line-height: 3.6rem;
  }

  .text__container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .text__container p:first-of-type {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-bottom: 16rem;
    justify-content: flex-start;
    z-index: 2;
  }

  .contact__tm {
    font-size: 20rem;
    position: relative;
    line-height: 10rem;
    top: 22rem;
    left: 6%;
  }

  .contact__links {
    margin-left: 0.2rem;
  }

  .contact__links a {
    font-size: 1.4rem;
    padding-right: 1.5rem;
  }

  .contact__text .copyright p {
    font-size: 0.8rem;
  }

  .contact__text .copyright span {
    font-size: 0.8rem;
  }
}

/* SMARTPHONES - SHORTER SCREENS (LANDSCAPE) */
@media only screen and (min-width: 665px) and (orientation: landscape) {
  .contact {
    padding-left: var(--padding-s);
    padding-right: var(--padding-s);
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-s);
  }

  .contact h2 {
    font-size: 6rem;
    line-height: 4.5rem;
  }

  .contact__tm {
    font-size: 20rem;
    line-height: 10rem;
    padding-left: 4%;
  }

  .text__container p {
    width: 50%;
    font-size: 1.1rem;
    padding-right: 5%;
    z-index: 2;
  }

  .contact__links {
    margin-left: 0.2rem;
    padding-bottom: 2%;
  }

  .contact__links a {
    font-size: 1.4rem;
    padding-right: 1.5rem;
  }

  .contact__text .copyright p {
    font-size: 0.8rem;
  }

  .contact__text .copyright span {
    font-size: 0.8rem;
  }
}

/* SMARTPHONES - TALLER SCREENS (PORTRAIT) */
@media only screen and (min-width: 390px) and (orientation: portrait) {
  /* not needed */
}

/* SMARTPHONES - TALLER SCREENS (LANDSCAPE) */
@media only screen and (min-width: 843px) and (orientation: landscape) {
  /* not needed */
}

/* IPAD MINI (PORTRAIT) */
@media only screen and (min-width: 767px) and (orientation: portrait) {
  .contact {
    padding-left: var(--padding-m);
    padding-right: var(--padding-m);
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-m);
  }

  .contact h2 {
    font-size: 12rem;
    line-height: 9rem;
  }

  .text__container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .text__container p {
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 26rem;
    justify-content: flex-start;
    z-index: 2;
  }

  .contact__tm {
    width: fit-content;
    font-size: 30rem;
    position: relative;
    line-height: 8rem;
    top: 33rem;
    left: 6%;
  }

  .contact__links {
    margin-left: 0.2rem;
  }

  .contact__links a {
    font-size: 1.6rem;
    padding-right: 1.5rem;
  }

  .contact__text .copyright p {
    font-size: 1rem;
  }

  .contact__text .copyright span {
    font-size: 1rem;
  }
}

/* IPAD MINI (LANDSCAPE) */
@media only screen and (min-width: 1023px) and (orientation: landscape) {
  .contact {
    padding-left: var(--padding-m);
    padding-right: var(--padding-m);
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-m);
  }

  .contact h2 {
    font-size: 12rem;
    line-height: 9rem;
  }

  .text__container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .text__container p {
    width: 100%;
    font-size: 1.8rem;
    line-height: 2.1rem;
    justify-content: flex-start;
    z-index: 2;
    padding-right: 3%;
    margin-bottom: 0;
    justify-content: flex-end;
  }

  .contact__tm {
    width: fit-content;
    font-size: 30rem;
    position: relative;
    line-height: 8rem;
    top: 0;
    left: 2%;
  }

  .contact__links {
    margin-left: 0.2rem;
    padding-bottom: 8%;
  }

  .contact__links a {
    font-size: 1.6rem;
    padding-right: 1.5rem;
  }

  .contact__text .copyright p {
    font-size: 1rem;
  }

  .contact__text .copyright span {
    font-size: 1rem;
  }
}

/* IPAD AIR (PORTRAIT) */
@media only screen and (min-width: 769px) and (orientation: portrait) {
  .contact {
    display: flex;
    justify-content: center;
  }

  .contact__tm {
    top: 0;
    left: 5%;
  }

  .contact__text {
    min-width: 100%;
  }

  .text__container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .text__container p {
    padding-right: 3%;
    margin-bottom: 0;
    justify-content: flex-end;
  }
}

/* IPAD AIR (LANDSCAPE) */
@media only screen and (min-width: 1179px) and (orientation: landscape) {
  .contact {
    display: flex;
    justify-content: center;
  }

  .contact__tm {
    top: 0;
    left: 1%;
  }

  .contact__text {
    min-width: var(--content-width);
  }

  .text__container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .text__container p {
    padding-right: 3%;
    margin-bottom: 0;
    justify-content: flex-end;
  }

  .contact__links {
    padding-bottom: 10%;
  }
}

/* IPAD PRO (PORTRAIT) */
@media only screen and (min-width: 1023px) and (orientation: portrait) {
  /* not needed */
}

/* IPAD PRO and MACBOOK PRO 14" (LANDSCAPE) */
@media only screen and (min-width: 1365px) and (orientation: landscape) {
  /* not needed */
}

/* MONITORS (LANDSCAPE) */
@media only screen and (min-width: 1520px) and (orientation: landscape) {
  /* not needed */
}
