.contact {
  width: 100vw;
  height: 100dvh;
  background-color: var(--green-dark);
  padding: 3rem 10rem;
}

.contact h2 {
  font-size: 13rem;
  font-weight: var(--regular-400);
}

.contact__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__links {
  width: 100%;
  margin-left: 1rem;
}

.contact__links a {
  font-size: 3.3rem;
  padding-right: 3rem;
  text-decoration: none;
  color: var(--green-medium);
  transition: color 1s ease;
}

.contact__links a:hover {
  color: var(--green-darker);
}

.copyright {
  display: flex;
  justify-content: center;
}

.copyright p,
span {
  font-size: 1.5rem;
  color: var(--gray-medium);
  /* color: var(--font-dark) */
}
