.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  color: var(--gray-medium);
  font-weight: var(--light-300);
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  margin-left: 15rem;
  margin-right: 15rem;
  transition: 0.9s;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  cursor: pointer;
  font-size: 1.8rem;
  transition: color 1.5s ease;
}

.navbar li:hover {
  color: var(--green-darker);
}

.navbar .navbar__active {
  color: var(--green-darker);
}

.navbar_show {
  display: none;
  transition: 0.9s;
}
