.backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  border: none;
  cursor: pointer;
  background: none;
  padding: 1rem;
}

/* iPhone 11 Pro Max / XR 414 x 896  */

@media (max-width: 414px) {
  .backToTop {
    right: 15px;
  }
}
