:root {
  --gray-lighter: #eff1ed; /* used */
  --gray-light: #dce0d9;
  --gray-medium: #d2d2c8;
  --gray-dark: #b6b7b2;
  --gray-dark-transparent: rgba(182, 183, 179, 0.25);
  --gray-darker: #9b9b9b;
  --gray-darker-inactive: rgba(182, 183, 179, 0.4);

  --black: #252525;
  --orange: #ffb270;

  --thin-100: 100;
  --light-300: 300; /* used */
  --regular-400: 400;
  --medium-500: 500;
  --semiBold-600: 600;

  --inter: 'Inter', sans-serif;
  --sugiyama: 'Dr Sugiyama', cursive;
}

html {
  height: 100vh;
  cursor: default;
  color: var(--black);
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow: auto;
}

.pageContainer {
  /* height: 100vh; */
}


section,
footer {
  /* height: 100vh; */
  scroll-snap-align: center;
  /* scroll-snap-stop: always; */
}

body {
  /* scroll-snap-stop: always; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%; /* base font size to 10px, to facilitate using REM unit */
  font-family: var(--inter);
}

::-webkit-scrollbar {
  display: none;
}
